
*{
    font-family: Arial, Helvetica, sans-serif;
}
.main
{
    height: 100vh;
    width: 100vw;
    background-color:#D4F6FF
}

.headsection
{  height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
   


     
}
.cardano
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 4px;
    margin-top: 10px;
   
}
 button
{
   
    background-color: rgb(29, 167, 252);
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
}
.ada{
margin-left: 30px;
display: flex;
flex-direction: column;
gap: 10px;
}
.min-stake
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}
.header
{  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
   
}
#l1
{
    background-color: rgb(29, 167, 252);
    width: 400px;
   
}
.box2
{
    height: 200px;
    width: 250px;
    line-height: 6px;
   
    background-color: white;
    border-radius: 10px;
}

.box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 50px;
background-color: #D4F6FF;
}



.reward
{  margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    
    height: 180px;
}

.small_reward
{
    background-color: white;
    width: 840px;
    
    height: 60%;
    border-radius: 10px;
}
.big_reward
{ width: 400px;
    
    background-color: white;
  
    border-radius: 10px;
    
}
.activation-content
{
    
    padding: 10px;
   
}.active-stack
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-left: 60px;
}
.activation
{
  
    width: 1420px;
    height: 400px;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.summary
{
    
    height: 300px;
    width: 840px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
}
.statistics
{  width: 400px;
    height: 300px;

    border-radius: 10px;
    
    background-color: white;
   
    display: flex;
    align-items: center;
   

}
.blue
{
    color: rgb(29, 167, 252);
}
.Staked
{  
  
    display: flex;
    justify-content: space-evenly;
 
   
    gap: 70px;
  padding-bottom: 20px;
}

.gray-box
{
    background-color: rgb(228, 226, 226);
    width: 150px;
   border-radius: 3px;
padding-left: 4px;
   
    
}
.small_reward
{ display: flex;
    align-items: center;
    justify-content: center;
   
   
}

.summary-img
{

    display: flex;
    align-items: center;
    width: 100px;


    background-color: gray;
}
.summary-img select
{    
    width: 100px;
    outline: none;
   
    background-color: gray;
    height: 30px;
}
.summary-img img
{   background-color: gray;
 border: none;
 
 height: 26px;
 width: 24px;
}
/* 
blue box */
.BALANCE
{
    display: flex;
    gap: 96px;
    margin-left: 10px;
    margin-top: 22px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.para-small p
{
    font-size: 15px;
}

.white-button
{
    background-color: white;
    color: black;
}
.blue-button
{
    border: 2px solid white;
}
.button-section
{
    margin-left: 10px;
    display: flex;
    gap: 20px;
}
.big_reward-flex
{
    display: flex;
    gap: 120px;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
  
  
}
#list2
{
    margin-left: 110px;
    border: none;
    color: rgb(0, 157, 255);
    font-size: 16px;
}

.Intrest
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-Statistics
{
    display: flex;
    flex-direction: column;
    line-height: 10px;
   
   
   
}

.spaces
{   font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.Rewards-section
{  margin-top: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
   
    
    
}
.space-reward
{
    margin: 0px;
    padding: 0px;
}
.reward-nav
{
    display: flex;
    justify-content: space-between;

   gap: 600px;
   margin-left: 64px;
   font-size: 24px;
   font-weight: bold;
}
.staking-reward
{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 525px;
    gap: 130px;
    
    
}
.reward-query
{
   
   display: flex;
   align-items: center;
}





.colm1
{ 

    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
   
    align-items: center;
    /* padding: 0px;
    margin: 0px; */
   
}
.colm1 select
{
    background-color: rgb(228, 226, 226);
    width: 125px;
    height: 30px;
    border-radius: 4px;
    border: none;
    
}
.colm-first
{
    display: flex;
    flex-direction: column;
   
  
   width: 40%;

   
   
   
}
.column-second
{ margin-top: 10px;
 margin-left: 80px;
    width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   gap: 6px;
}
.col2
{  justify-content: space-between;
    height: 30px;
    display: flex;
    align-items: center;
  
   
  
    
}
.summary1
{ font-family: Arial, Helvetica, sans-serif;
    display: flex;
   gap:20px;
   
}
.last
{  margin-top: 20px;
   
    display: flex;
    margin-left: 12px;
    gap: 286px;
    align-items: center;
    
}
.last button
{
    margin-left: 40px;
    width: 150px;
}
.last i{
    color: rgb(17, 137, 207);
}
#summary
{
    background-color: rgb(228, 226, 226);
    border-radius: 4px;
}
#cancel
{
    background-color: white;
    color: gray;
    border: 2px solid gray;
}


.head-nav
{ display: flex;

    align-items: center;
    /* padding-left: 52px; */
  gap: 70px;

}
.Locked
{
    display: flex;
    align-items: center;
    gap: 30px;
   
    width: 300px;
    justify-content: flex-end;
    color: rgb(152, 152, 152);

}
.Locked a{
    color: rgb(152, 152, 152);
}
.Wallet
{
    display: flex;
    align-items: center;
   
    gap: 180px;
   
    
}
.Wallet select{
    border: none;
    background-color: transparent;
    color: rgb(152, 152, 152);
    font-size: 16px;
}


.staking-offering{
 
 
    width: 200px; 
    padding-left: 55px;
}
.active{
   
   width:180px;
   display: flex;
   justify-content: flex-end;
  
   
  
}
.active select
{
    border: none;
    background-color: transparent;
    color: rgb(152, 152, 152);
    font-size: 16px;
}

#claim
{
    color: rgb(0, 157, 255);
}
.gray
{
    color: rgb(152, 152, 152);
}

.bold
{
    font-weight: bold;
}
.min-stake{
    align-items: center;
    gap: 8px;
}
.summary1
{
    
    margin-top: 15px;
    margin-left: 10px;
}